# Core Framework
fastapi==0.128.0
uvicorn[standard]==0.39.0
pydantic==2.12.5
pydantic-settings==2.11.0

# Database
sqlalchemy==2.0.46
aiosqlite==0.22.1

# LangChain & LangGraph
#langchain
langchain-openai
langchain-community
#langgraph
langchain-qdrant==0.1.4


# Token
tiktoken==0.12.0

# Vector Database
qdrant-client==1.16.1

# Utilities
python-multipart==0.0.20
python-dotenv==1.2.1
httpx==0.28.1
aiofiles==24.1.0
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
sqlalchemy[asyncio]
greenlet
